cloud_id  = "b1gxxxxxxxxxxxxxxxxx"
folder_id = "b1gyyyyyyyyyyyyyyyyy"
zone      = "ru-central1-a"

# Existing VPC (referenced by id — not created by this module)
network_id = "enpxxxxxxxxxxxxxxxxx"
subnet_id  = "e9bxxxxxxxxxxxxxxxxx"

bucket_name = "gistrec-app-bucket"

mysql_db_name   = "appdb"
mysql_user_name = "appuser"

compute_name  = "app-vm"
function_name = "app-fn"
